.grid-container {
    display: grid;
    grid-template-columns: 5% auto auto auto auto auto;
  }

  .item1 {
    grid-column: 1 / span 2;
    grid-row: 1;
    background-color: #0000FF;
  }
  
  .item2 {
    grid-column: 3;
    grid-row: 1 / span 2;
    background-color: #4B0082;
  }

  .item3 {
    grid-column: 4;
    grid-row: 1;
    background-color: #FFFF00;
  }
  
  .item4 {
    grid-column: 1;
    grid-row: 2;
  }

  .item5 {
    grid-column: 2;
    grid-row: 2;
  }

  .item6 {
    grid-column: 4;
    grid-row: 2 / span 2;
    background-color: #808080;
  }

  .item7 {
    grid-column: 1;
    grid-row: 3;
  }

  .item8 {
    grid-column: 2;
    grid-row: 3;
    background-color: #FF0000;
  }

  .item9 {
    grid-column: 3;
    grid-row: 3;
    background-color: #00FFFF;
  }